
body    {
    background-color: rgb(22, 10, 53);
}
#grdy   {
    display: grid;
    grid-template-rows: 7fr 3fr;
}
#temp_title {
    color: white;
    text-align: center;
    font-size: 100px;
}
#p2s_img    {
    text-align: center;
}
#menu_txt   {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.RnE_Grid   {
    display: grid;
    grid-template-columns: 1fr 3fr 8fr 2fr 2fr;
    text-align: center;
}
#RnE_title  {
    color: white;
    font-size: 70px;
    margin: 0px;
}
#menulink   {
    color:powderblue;
    font-size: 15px;
    text-decoration: none;
}
#sortool    {
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#deleteButton   {
    background-color: orangered;
}
#addButton  {
    background-color: green;
}

#popup_add  {
    position: relative;
    background-color: blueviolet;
    display:none;
    margin-top: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
#add_inputarea  {
    width: 200px;
    height: 50px;
}
#popup_delete  {
    background-color: blueviolet;
    display:none;
    margin-top: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
#delete_checkbox    {
    color: white;
}


.settings_Grid  {
    display: grid;
    grid-template-columns: 6fr 1fr;
}
#settings_title {
    color:white;
    font-size: 60px;
    padding: 2%;
}

.hanja_table    {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 20px;
}
#tablestat_O    {
    background-color: darkgreen;
    border: 2px solid white;
    padding: 15px;
}
#tablestat_X    {
    background-color: darkred;
    border: 2px solid white;
    padding: 15px;
}
#tablestat_N    {
    background-color: rgb(69, 69, 69);
    border: 2px solid white;
    padding: 15px;
}

.mainQ_A    {
    display: grid;
    grid-template-columns: 8fr 8fr 1fr;
}
#qArea_A    {
    text-decoration: solid;
    color: white;
    font-size: 50px;
}
#timer_A    {
    color:white;
    font-size: 40px;
    padding: 5%;
}
#resetbutton_A  {
    color: powderblue;
    font-size: 30px;
}

#didpass    {
    color: white;
    padding: 0.5%;
    font-size: 100px;
}
#score  {
    color: white;
    padding: 1%;
    font-size: 60px;
}
#timeTaken  {
    color: white;
    padding: 1%;
    font-size: 30px;
}
#popup_applyData  {
    background-color: blueviolet;
    display:none;
    margin-top: 8%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
#applyQ_A   {
    color:white;
}
