<!DOCTYPE html>
<html>
    <head>
        <title>제목미정</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="grdy">
            <div>
                <h1 id="temp_title">제목미정</h1>
            </div>
            <div id="p2s_img">
                <a href="/menu">
                    <img src="{{url_for('static', filename='images/p2s0.png')}}" width="40%">
                </a>
            </div>
        </div>
    </body>
</html>