<!DOCTYPE html>
<html>
    <head>
        <title>제목미정</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <ul>
            <h1><a id="menu_txt">Start</a></h1>
            <h1><a href="/review" id="menu_txt">Review</a></h1>
            <h1><a href="/edit" id="menu_txt">Edit</a></h1>
            <h1><a href="/settings" id="menu_txt">Settings</a></h1>
        </ul>
    </body>
</html>