<!DOCTYPE html>
<html>
    <head>
        <title>제목미정</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <!--applyData POPUP-->
        <div id="popup_applyData">
            <div id="applyQ_A">Apply this result to the database?</div><br>
            <form action="/score" method="POST">
                <input type="submit" name="applychoice" value="Yes" onclick="
                    document.getElementById('popup_applyData').style.display='none';
                ">
                <input type="submit" name="applychoice" value="No" onclick="
                    document.getElementById('popup_applyData').style.display='none';
                ">
            </form>
            <input type="button" value="X" onclick="
                document.getElementById('popup_applyData').style.display='none';
            ">
        </div>

        <!--scoreboard-->
        <div id="didpass">
            {% if score>=qNum*0.8 %}
                Clear
            {% else %}
                Game Over
            {% endif %}
        </div>
        <div id="result">
            <div id="score">
                {{score}}/{{qNum}}
            </div>
            <div id="timeTaken">
                {{tstr}}
            </div>
        </div>

        <div style="color: white; padding:1%;">     <!--TEST-->
            {% for item in data[0] %}
                {{item['hanja']}}
            {% endfor %}<br>
            {{data[1]}}<br>
            {{data[2]}}<br>
            {{data[3]}}
        </div>
        <!--return to menu: applying result to DB-->
        <div>
            <a href="#" id="menulink" onclick="
                document.getElementById('popup_applyData').style.display='block'
            ">Return to Menu</a>
        </div>
    </body>
</html>
