<!DOCTYPE html>
<html>
    <head>
        <title>제목미정</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="settings_Grid">
            <div>
                <b><div id="settings_title">Settings</div></b>
            </div>
            <div>
                <a href="/menu" id="menulink">Return to Menu</a>
            </div>
        </div>
        <div style="color:white;padding-left:3%;">
            2026 Daon1109 <br>
            Suho Ban
        </div>
    </body>
</html>